# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Local env files
.env
.env.local
.env.*.local

# Vite cache
.vite/

# Editor & system files
.DS_Store
Thumbs.db

# Optional: IDE specific
.vscode/
.idea/
